@font-face{
  font-family: 'digital-clock';
  src: url(RADIOLAND.TTF);
}

html {
  background-color: red;
}

body {
  padding-top: 70px;
  background-color: red;
}

#start {
  background-color: green;
  font-size: 80px;
}

#break {
  background-color: black;
  color: white;
  font-size: 80px;
}

#timer {
  font-size: 200px;
  padding-left: 50px;
  font-family: 'digital-clock';
  background-color: #B8B8B8;
}

#descrip {
  background-color: #B8B8B8;
  font-family: times new roman;
}
