@font-face{
  font-family: 'digital-clock';
  src: url(RADIOLAND.TTF);
}

html {
  background-color: #FF6347;
}

body {
  padding-top: 70px;
  background-color: #FF6347;
}

#start {
  background-color: #47ff47;
  font-size: 80px;
}

#break {
  background-color: #47e3ff;
  font-size: 80px;
}

#timer {
  font-size: 200px;
  padding-left: 50px;
  font-family: 'digital-clock';
  background-color: #FFBF47;
}

#descrip {
  background-color: #ffa494;
  font-family: times new roman;
}
